.content {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.theo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 16px;

}
.theo-image{
    
        display: flex;
        justify-content: center;
      
}
.name{
    margin: 18px;
}
.quote{
   
        font-family: "Utopia-italic";
        font-size: px;
        font-weight: 700px;
        text-align: center;
    
}

.container-fluid{
    margin: 36px;
}

